@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.bubble{
    background: var(--color-light-blue);
    border-radius: 5px;
    padding: 20px;
    margin:10px 0 20px;
    font-size: var(--font-medium-size);
    @media (--media-min-medium) {
        max-width: calc(60%);
    }
}
.toggle.on{
    text-decoration: underline;
}
.toggle.on::after{
    content:"";
    display: none;
    position: absolute;
    width: 0; 
    left:1em;
    bottom:1.5em;
    height: 0; 
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 30px solid var(--color-light-blue);
    @media (--media-min-medium) {
        display: block; 
    }
}
.bubble p{
    margin:0;
}
.toggle{
    position: relative;
    text-transform: capitalize;
    font-style: italic;
    cursor: pointer;
}
.toggle:hover{
    text-decoration: underline;
}
.toggle:nth-child(2){
    color: var(--color-dark-blue);
}
.toggle:nth-child(3){
    color: var(--color-red);
}