@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.bubble{
    background: var(--color-blue);
    border-radius: 0;
    padding: calc(var(--space)/2);
    margin:calc(var(--small-space) * 2) var(--small-space);
    font-family: var(--font-family-bold);
    clip-path: polygon(0% 3px, 100% 0%, 100% calc(100% - 1px), 2px 100%);
    font-size: var(--font-base-size);
    width: calc(100% - var(--space));
    @media (--media-min-medium) {
        /* max-width: calc(60%); */
    }
}
.bubble:first-child{
    left: var(--space);
    position:relative;
    clip-path: polygon(0% 8px, 100% 0%, calc(100% - 2px) calc(100% - 5px), 1px 100%);
}
.bubble:last-child{
    left: var(--space);
    position:relative;
   clip-path: polygon(0% 0px, calc(100% - 3px) 4%, calc(100% - 2px) calc(100% - 5px), 1px 100%)
}
.bubble p{
    margin:0;

}


.bubble p strong{
  color:var(--color-red);
}

.overwrapper > *{
    flex-basis: 60%;
    margin-bottom: var(--space);
}
.wrapper{
    display: flex;
    padding-right: var(--space);
    flex-direction: row-reverse;
    flex-basis: 40%;
    /* background-color: var(--color-light-blue); */
}
.overwrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
    /* padding: var(--space); */
}


