@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.person{
    cursor:pointer;
}

.personButton{
    color:var(--color-dark-blue);
    font-family: var(--font-family-bold);
}
.personButton:hover{
    color:var(--color-red);
}