
@import './custom-media.css';
:root {
  /*SPACING*/
  --space: 30px;
  --font-family-sans:"Sharp Sans", sans-serif;
  --font-family-bold: "Sharp Sans SemiBold", sans-serif;
  --color-black: #333;
  --color-light-blue:#E4E5E7;
  --color-blue:#84cfde;
  --color-red:#BF0D3E;
  --color-dark-blue: #045867cc;
  --color-white: rgba(245,245,245,1);
  --clear: rgba(245,245,245,0);
 /* Typography */
  --font-extra-small-size: clamp(14px, 0.82em, 40px);
  --font-small-size: clamp(17px, 0.82em, 40px); /* 14px */
  --font-base-size: clamp(17px, 1.4vw, 40px); /* 16px */
  --font-base-letter-spacing: 0.00rem;
  --font-base-line-height: 1.5; /* 24px */
  --font-medium-size: clamp(17px, 2vw, 40px);
  --font-medium-line-height: calc(30 / 21); /* 30px */
  --font-h4-size: clamp(17px, 1.7vw, 40px);
  --font-large-size: 2.4rem;
  --font-large-line-height: calc(57 / 49); /* 57px */
  @media (--media-max-medium) {
    --font-large-size: 2rem;
    --space: 12px;
    --font-extra-small-size: clamp(15px, 0.82em, 40px);
    --font-medium-size: clamp(16px, 1.2rem, 40px);
    --font-small-size: clamp(16px, 0.82em, 40px); /* 14px */
    --font-base-size: clamp(16px, 1.2vw, 40px); /* 16px */
    --font-h4-size: clamp(16px, 1.4vw, 40px); /* 16px */
  }
}
