
@import './custom-media.css';
:root {
  --font-family-sans:"Sharp Sans", sans-serif;
  --font-family-bold: "Sharp Sans Bold", sans-serif;
  --color-black: #333;
  --color-light-blue:#D4EAED;
  --color-red:#BF0D3E;
  --color-white: rgba(245,245,245,1);
  --clear: rgba(245,245,245,0);
  --white-gradient-after: linear-gradient(90deg, rgba(245,245,245,0.9) 0%, rgba(245,245,245,0.9) 5%, rgba(245,245,245,0.5088629201680672) 95%, rgba(245,245,245,0) 100%);
  --white-gradient:linear-gradient(90deg, rgba(245,245,245,0.5) 0%, rgba(245,245,245,0.5) 10%, rgba(245,245,245,0.5088629201680672) 90%, rgba(245,245,245,0) 100%);
  --blue-hover-gradient: linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 50%, rgba(212,234,237,0.9) 99%, rgba(245,245,245, 0) 100%);
  --light-blue-gradient-solid: linear-gradient(90deg, rgba(212,234,237,0.9) 0%, rgba(212,234,237,0.9) 5%, rgba(212,234,237,0.9) 99%, rgba(245,245,245, 0) 100%);
  --blue-gradient:linear-gradient(-180deg, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 35%, rgba(0,130,151,0.5) 100%);
  --light-blue-gradient: linear-gradient(90deg, #d4eaed7a 0%, #d4eaed7a 10%, #d4eaed7a 90%, rgba(245,245,245,0) 100%);
  --light-blue-gradient-moz: -moz-linear-gradient(0deg, #d4eaed7a 0%, #d4eaed7a 10%, #d4eaed7a 90%, rgba(245,245,245,0) 100%);
  --light-blue-gradient-ms: -ms-linear-gradient(90deg, #d4eaed7a 0%, #d4eaed7a 10%, #d4eaed7a 90%, rgba(245,245,245,0) 100%);
  --blue-link-gradient: linear-gradient(90deg, rgba(0,130,151,0.1) 0%, rgba(0,130,151,0.1) 5%, rgba(0,130,151,0.1) 95%, rgba(245,245,245, 0) 100%);
  /* Typography */
  --font-small-size: 0.82rem; /* 14px */
  --font-base-size: clamp(14px, 1.2vw, 40px); /* 16px */
  --font-base-letter-spacing: 0.03rem;
  --font-base-line-height: 1.5; /* 24px */
  --font-medium-size: 1.2rem; 
  --font-medium-line-height: calc(30 / 21); /* 30px */
  --font-large-size: 2.4rem;
  --font-large-line-height: calc(57 / 49); /* 57px */
  @media (--media-max-medium) {
    --font-large-size: 2rem;
    
  }
}
