@import './custom-properties.css';
@import './custom-media.css';
/****************/
/* Font import */
/****************/
@font-face {
	font-family: "Sharp Sans";
	src: url("../fonts/WOFF/SharpSansDispNo1-Medium.woff") format("woff"),url("../fonts/EOT/SharpSansDispNo1-Medium.eot") format("eot");
}
@font-face {
	font-family: "Sharp Sans Bold";
	src: url("../fonts/WOFF/SharpSansDispNo1-Bold.woff") format("woff"),url("../fonts/EOT/SharpSansDispNo1-Bold.eot") format("eot");
}
@font-face {
	font-family: "Sharp Sans Semibold";
	src: url("../fonts/WOFF/SharpSansDispNo1-Semibold.woff") format("woff"),url("../fonts/EOT/SharpSansDispNo1-Semibold.eot") format("eot");
}
html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  letter-spacing: var(--font-base-letter-spacing);

}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-light-blue);
  color: var(--color-black);
  margin: 0;
}


html,
body,
body > div,
body > div > div {
  height: 100%;
}
strong{
  font-family: var(--font-family-bold);
}
h1{
  font-size: var(--font-large-size);
  margin:var(--space) 0;
}
#featured .blue-button.red-color{
  display: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
}
h5{
  font-size: 1em;
  margin-top:0;
}
h4{
  text-transform:none;
  font-family: var(--font-family-bold);
  font-size: var(--font-h4-size);
}
.button{
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
    z-index: 0;
    font-family: var(--font-family-bold);
    padding-top:8px;
    margin-top: 8px;
    background-color: var(--color-blue);
    clip-path: polygon(0% 3px, 100% 0%, 100% calc(100% - 1px), 2px 100%);
    margin-right:12px;
    transition: clip-path 0.2s;
    color: var(--color-black);
    border-radius: 0px;
    text-decoration: none;
}



.fadey{
  opacity: 0;
}

.blue-button, .hp-text p a{
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
  z-index: 0;
  font-family: var(--font-family-bold);
  padding-top:8px;
  margin-top: 15px;
  background-color: var(--color-blue);
  clip-path: polygon(0% 6px, 100% 0%, 100% calc(100% - 1px), 2px 100%);
  margin-right:12px;
  color: var(--color-black);
  border-radius: 0px;
  text-decoration: none;
  color:var(--color-black);
  transition: clip-path 0.2s;
}

.blue-button:hover, .hp-text p a:hover, .button:hover{
  color: var(--color-black);
  clip-path: polygon(0% 0px, 100% 7%, 100% calc(100% - 0px), 2px 99%);
}

#query-on-demand-indicator-element{
  display: none;
}

.homepage > p:nth-child(2){
  font-size: var(--font-base-size);
}
.two-column{
  column-count: 2;
  column-gap: 1rem;
  margin-bottom:var(--space);
}

.top-text.two-column > p:first-child{
  margin-top:0;
}
.top-text.one-column.partner-page figure,.top-text.one-column.partner-page img {
  max-width: 200px;
  height:auto;
}
.top-text.one-column.about-page .wrapper  figure,.top-text.one-column.about-page .wrapper  figure div{
  height: auto;
  margin:0;
  margin:var(--space) 0;
}
.top-text.one-column.partner-page .wrapper ,.top-text.one-column.partner-page .wrapper div{
  width:auto;
  height:auto;
  pointer-events: none;
}
select{
	border-radius: 0;
	font-family: inherit;
	color: var(--color-black);
  width:90%;
	border: 1px solid var(--color-black);
	background: var(--color-white);
	padding: 2px 5px;
	-webkit-appearance: menulist;
  margin:  10px 2px;
}

input[type=text]{
  background: var(--color-white);
	padding: 8px 8px;
  outline:none;
  border: 1px solid var(--color-black);
}
select:focus{
  outline:none;
}
#light-box.show, .modal.show{
  z-index: 99;
}
.modal-bg.show{
  display: block;
}
.modal.show{
  opacity: 1;
}
#light-box > *{
  display: none;
}
#light-box.show > *{
  display: block;
}
#light-box.show *{
  opacity: 1;
}
#light-box  div{
  width: auto;
  height: auto;
}
#light-box figcaption{
  text-align: left;
  margin-top:1em
}
#light-box img:hover{
  filter:none;
}
#light-box iframe{
  width: 92% !important;
  height: 65vw !important;
  position: relative !important;
  @media(--media-min-medium){
    width: 62% !important;
    height: 35vw !important;
  }
}

#light-box figcaption.embed-caption{
  width:60%;
  margin-left: 19%;
}

li.alice-carousel__stage-item {
  width: auto !important;
}
.red-color{
  color:var(--color-dark-blue);
  cursor:pointer;
}
.red-color:hover{
  text-decoration: underline;
}
.show-thread.faculty-led, .show-thread.student-led{
  display: flex;
}
.masonry-inner .gatsby-image-wrapper, .masonry-inner figure, .masonry-inner div{
  height: auto;
}

.subtitle{
  display: block;
  font-size: var(--font-base-size);
  font-weight: bold;
  margin-top:0.5em;
  margin-bottom:0.5em;
}
.subtitle a{
  color: var(--color-dark-blue);
}
.subtitle p{
  margin:0;
}
.main-link a{
  color:var(--color-dark-blue);
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
  z-index: 0;
  padding-right: 0;
  padding-left: 5px;
  margin-top: 8px;
  margin-right:12px;
  border-radius: 0px;
  text-decoration: none;
  font-family:var(--font-family-bold);
}

.main-link a:hover{
  color:var(--color-red)
}
.main-link{
  margin: 5px 0;
  position: relative;
  top:-0.5em;
  margin-bottom:var(--space);
}
.main-link.top-link{
  margin-bottom:0;
}
.main-link.top-link a{
  padding-left:0;
  margin-left:0;
}
@media(max-width:675px){
  .top-text.two-column{
    column-count:1;
  }
  .main-link{
    top:-1em;
  }
  .main-link.top-link{
    top:0;
  }
}

.container > *{
  padding-right:calc(var(--space)*2);
  padding-left:calc(var(--space)*2);
  @media (--media-min-medium) {
    padding-right:calc(var(--space)*2);
    padding-left:calc(var(--space)*4); 
  }
}
.container > *:last-child{
  padding-bottom: 3em;
}
.container > *:nth-child(2){
  padding-top:var(--space);
}
.hp-text p{
  margin-top:0;
}
.hp-highlights{
  margin-top:calc(var(--space) * 3);
  margin-bottom:calc(var(--space) * 3);
}
.hp-highlights > h4{
  margin:0;
  position:relative;
  z-index: 1;
  padding:0 calc(var(--small-space)*3);
  padding-top: calc(var(--small-space) *3);
  background-color: var(--color-light-blue);
}
.hp-highlights h4 span{
  display: block;
  @media (--media-min-medium) {
    display: inline;
  }
}
.hp-highlights > h4 .blue-button{
  position: relative;
  display: inline-block;
  margin-bottom:var(--space);
  font-size: var(--font-base-size);
  @media (--media-min-medium) {
    position: absolute;
    right:0;
    top:0;
    margin-bottom:0;
  }
}
.container .hidden-sanity{
  height: 0;
  width: 0;
  overflow: hidden;
  margin:0;
  padding:0;
  padding-bottom:0;
  /* padding-top: calc(var(--space)); */
  background-color: var(--color-light-blue);
}
.hidden-sanity span {
  position: fixed;
  bottom:0em;
  opacity: 1;
  z-index: -1;
  pointer-events: none;
  font-size: 0.8em;
  right:5px;
}
.hidden-sanity a{
color:inherit;
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}


.hp-scrollText{
  margin:0;
  padding:0;
  background-color: var(--color-light-blue);
  width: 100%;
  overflow:scroll;

}

.hp-scrollText .inner{
  width: auto;
  display: flex;
  animation: scrollText 100s linear 0s infinite alternate forwards;
  flex-wrap: nowrap;
  gap: calc(var(--small-space) * 6);
  align-items: center;
}
.hp-scrollText .inner:nth-child(2){
  animation-direction: alternate-reverse;
}
.hp-scrollText > div{
  display: inline-block;
  margin: calc(var(--small-space)* 4);
  white-space: nowrap;
}
.hp-scrollText a{
  text-decoration: none;
  color: var(--color-dark-blue);
  font-family: var(--font-family-bold);
}
.hp-scrollText div.large-title a{
  font-size: var(--font-h4-size);
}
.hp-scrollText a:hover{
  color: var(--color-red);
}
.hp-text{
  margin-top: var(--space);
}
.hp-text p a{
  margin-top: var(--space)
}
/* .full-bleed{
  padding: 0;
} */