@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';


.wrapper{
    display: flex;
    flex-direction: column-reverse;
    padding-right: calc(var(--space)* 3);
    max-width: 935px;
}
.label{
   font-size: var(--font-small-size); 
}
.filterWrapper{
    outline: 2px solid var(--color-white);
    background-color: var(--color-light-blue);
    font-size:var(--font-extra-small-size);
    top: 0;
    right:var(--space);
    max-width: 100%;
    max-height: 60vh;
    overflow: scroll;
    position:sticky;
    padding-bottom: var(--small-space);
    /* @media (--media-min-medium) {
        flex-basis: 18%;
        max-width: 27%;
        position: fixed;
        max-height: none;
    } */
}
.filterWrapper input[type=checkbox] + label{
    margin-right: var(--space)
}
.filterWrapper.sticky > div{
   display: none;
}
.filterWrapper.sticky > h1 svg{
   display: inline;
}
.filterWrapper .year{
    display: flex;
}
.filterWrapper h4{
    font-size: var(--font-small-size);
    margin:0;
    padding:var(--small-space);
}
.filterWrapper h1, .filterWrapper h4{
    position:relative;
}
.filterWrapper h1 svg{
    right:0;
    position:absolute;
    top: calc(var(--small-space) * 2);
    display: none;
}
.filterWrapper .accordion h4{
    padding:var(--small-space) calc(var(--small-space)*2);
    padding-right: calc(var(--space) * 1);
}
.filterWrapper select{
    margin:var(--small-space);
    margin-top:0;
}
.filterWrapper .accordion h4 svg{
    width: var(--space);
    position:absolute;
    right:var(--small-space);
    top: calc(var(--small-space) * 2);
    @media (--media-min-medium) {
        right:0;
    }
}

.filterWrapper > *{
    padding: 0 var(--small-space);
}
.filterWrapper h1{
    font-size: var(--font-small-size);
    text-transform: uppercase;
    margin:var(--small-space);
    font-family: var(--font-family-bold);
}
.accordion{
    border-top: 1px solid var(--color-dark-blue);
    cursor: pointer;
    padding:0;
}
.accordion:nth-child(5){
    border-bottom: 1px solid var(--color-dark-blue);
}
.accordion:nth-child(3){
    margin-top: var(--small-space);
}

.accordion > div{
    padding: var(--small-space);
    display: none;
}
.accordion input[type=checkbox]{
    /* display: none; */
}
.filterWrapper label{
    cursor: pointer;
}
.filterWrapper label:hover{
    font-family: var(--font-family-bold);
}
.accordion input[type=checkbox]:checked + label{
    font-family: var(--font-family-bold);
}
.accordion div div{
    display: block;
    padding:0 calc(var(--small-space)/2);
}
.accordion label::after{
    /* content:"," */
}
.accordion div div:last-child label::after{
    content:""
}
.resultsWrapper{
    display: flex;
    max-height: 60vh;
    gap:calc(var(--small-space) * 2);
    justify-content: flex-start;
    overflow: scroll;
    margin-top: calc(var(--space) * 2);
    flex-wrap: wrap;
    @media (--media-min-medium) {
        flex-basis: 80%;
        max-height: none;
        margin-top:0;
    }
}
.root a:hover{
    position: relative;
    top:1px;
    left:1px;
}

.titleArea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (--media-min-medium) {
        flex-direction: row;
    }
}
.selectWrapper{
    
    display: flex;
    align-items: flex-start;
    top: 0;
    right: 0;
    position: relative;
    margin: var(--space) 0;
    width: 100%;
    @media(--media-min-medium){
        top: 50px;
        right: 50px;
        position: absolute;
        width: auto;
    }
}
.selectWrapper > select{
    margin-bottom: calc(1* 5px);
    margin-top: 0;
    width: calc(var(--space) * 20);
    padding-top: 0;
    @media(--media-min-medium){
        width: calc(var(--space) * 5);
    }
}
.root figure{
    width: 100%;
    height: auto;
    overflow:hidden;
    margin:0;
    margin-bottom:var(--space);
    flex-basis: 50%;
    @media (min-width: 1300px) {
        height: auto;
        width: 50%;
        
    }
}
/* .root figure > div{
    max-width: 1000000px;
    @media (--media-min-medium) {
        max-width: 100%;
    }
} */
.yearResources{
    border-top: 1px solid var(--color-dark-blue);
}
.title{
    font-size: var(--font-base-size);
    flex-basis: calc(50% - (var(--small-space) * 2));
}
.title span.titleMain{
    font-weight:bold;
    font-size: var(--font-base-size);
    width: 100%;
}
.title span{
    display: block;
    margin-top: calc(var(--small-space)*2);
    font-size: var(--font-base-size);
    width: 60%;
}
.currentPast{
    margin-top: var(--small-space);
   font-size: var(--font-small-size);
}
.themeAccordion{
    border-bottom: 1px solid var(--color-dark-blue);
}
.ml{
  text-align: right;
}
.root{
    background-color: var(--color-light-blue);
    padding: var(--space);
    margin-top:var(--space);
    flex-basis: calc(100% - (var(--space) ));
    @media (min-width: 1300px) {
        flex-basis: calc(100% - (var(--space)));
    }
}

.root:nth-child(even){
    margin-left: calc(var(--small-space)*2);
    @media (--media-min-medium) {
        margin-left:0;
    }
}
.root a{
    text-decoration: none;
    color:var(--color-black);
    display: flex;
    flex-direction: column;
}

.filterWrapper select{
    width: calc(var(--space) * 5);
}
.searchWrapper{
    position:relative;
    width:100%;
    margin:var(--small-space) 0;
    @media (--media-min-medium) {
        width:70%;
        margin:var(--space) 0;
    }
}
.searchWrapper input{
    width:calc(100% - (var(--small-space)*4));
    @media (--media-min-medium) {
        width:90%;
    }
}
.searchWrapper button{
    outline:none;
    border:none;
    cursor: pointer;
    padding:0;
    right:10px;
    background-color: transparent;
    top:12px;
    position:absolute;
    vertical-align: top;
    @media (--media-min-medium) {
        right:65px;
    }
}
.searchWrapper button:hover svg{
    top:-4px;
    left:1px;
}
.searchWrapper svg{
    width:20px;
    height:20px;
    vertical-align: top;
    position:relative;
    top:-5px;
}

/* .filterWrapper > div{
    display: none;
    @media (--media-min-medium) {
        display: block;
    }
} */
.filterWrapper .filterPastYear{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - var(--space-small));
    justify-content: space-between;
   
}