@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  background: var(--color-light-blue);
  color: var(--color-black);
  padding:var(--space);
  margin-top:var(--space);
  position:relative;

}
.root:hover{
    top:3px;
    left:3px;
}
.root h4{
    margin-top:0;
}
.root > a{
    text-decoration: none;
    color: var(--color-black);
}
.root > a > a:last-child{
    float:right;
}
.root > a > p{
    max-width: 95%;
    @media (--media-min-medium) {
        max-width: 90%;
    }
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    flex-direction: row;
    margin-top:var(--space);
    max-height: 60vh;
    overflow: scroll;
    justify-content: space-between;
    @media (--media-min-medium) {
        width:75%;
        margin-top:0;
        max-height: none;
    }
}
.wrapper > em{
    text-transform: lowercase;
    display: block;
}
.wrapper > em::first-letter{
    text-transform: capitalize;
}
.searchWrapper{
    position:relative;
    width:100%;
    margin:var(--space) 0;
    @media (--media-min-medium) {
        width:70%;
    }
}
.searchWrapper input{
    width:calc(100% - (var(--space)*4));
    @media (--media-min-medium) {
        width:90%;
    }
}
.searchWrapper button{
    outline:none;
    border:none;
    cursor: pointer;
    padding:0;
    right:10px;
    background-color: transparent;
    top:12px;
    position:absolute;
    vertical-align: top;
    @media (--media-min-medium) {
        right:65px;
    }
}
.searchWrapper button:hover svg{
    top:-4px;
    left:1px;
}
.searchWrapper svg{
    width:20px;
    height:20px;
    vertical-align: top;
    position:relative;
    top:-5px;
}