@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root {
  background: var(--clear);
  margin-top:0;
  padding-top:0;
  position: relative;
}

.steering{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  padding: 0;
  position: relative;
  top:-1em;
}
.twoColumnStaff{
  display: flex;
  width:100%;
}
.twoColumnStaff > div{
  width: calc(50%);
}
.twoColumnStaff > div:nth-child(2){
  padding-left:10px;
}

.steering li{
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: block;
  cursor: pointer;
}
.partners{
  top: -1em;
  position: relative;
}
.partners a{
  text-decoration: none;
}
.partner:hover{
  color: var(--color-red);
}
.partner{
  display: inline-block;
  color:var(--color-dark-blue);
  font-family: var(--font-family-bold);
}
.bg{
  content:"";
  position:fixed;
  z-index: 9;
  background-color: var(--color-black);
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  opacity: 0.5;
  display: none;
}

.modal{
  background: var(--color-light-blue);
  height: auto;
  width:75vw;
  left:5vw;
  opacity: 0;
  padding:35px;
  top:3vh;
  overflow: hidden;
  position:fixed;
  z-index: -2;
  @media (--media-min-medium) {
    height: auto;
    width:60vw;
    left:20vw;
    top:15vh;
  }
}
.close{
  text-align: right;
  padding: var(--space);
  cursor: pointer;
  float:right;
  position:absolute;
  right: 0;
  top:0;
  width: 20px;
  @media (--media-min-medium) {
    width: 20px;
  }
}
.close svg{
  width: 100%;
}
.inner{
  padding:0;
  overflow:scroll;
  max-height: 90vh;
  @media (--media-min-medium) {
    max-height: 70vh;
  }
}
.inner h4{
  margin-top:0;
  font-size:1em;
}

.modal p a{
  color: var(--color-dark-blue);
  font-family:var(--font-family-bold);
  text-decoration: none;
}
.modal p a:hover{
  color:var(--color-red);
}
