@import '../../styles/custom-media.css';

.root {
    margin:0;
    position:relative;

  @media (--media-min-small) {
    margin:0;
  }

}
.root canvas{
  cursor: pointer;
}

.partners {
    margin:0;
    position:absolute;
    right:25px;
    top:15px;
    padding:10px;
    background:var(--color-light-blue);
    max-width: calc(100% - 70px);
  @media (--media-min-small) {
    margin:0;
    max-width: 60%;
  }
}
.partners ul{
    padding:0;
    list-style: none;
    margin-top:0;
    margin-bottom:0;
}
.partners h4{
  margin-bottom:0;
  margin-top:0;
}
.partners li a{
    font-size: var(--font-small-size);
    color: var(--color-black);
    text-decoration: none;
    position:relative;
}
.partners li a:hover{
  color:var(--color-red)
}
