@import '../../styles/custom-media.css';

.root {
    margin:0;
    position:relative;

  @media (--media-min-small) {
    margin:0;
  }

}
.nodes{
  width: 100%;
  top:0;
  position: absolute;
}
.root canvas{
  cursor: pointer;
}
.inner{
  background-color: var(--color-light-blue);
  display: flex;
  flex-direction: column;
  @media (--media-min-medium) {
      flex-direction: row;  
  }
}
.projectWrapper{
  width: calc(100% - 0px);
  padding: 0;
  position:relative;
  display: inline-block;
  @media (--media-min-medium) {
    width: calc(50% - 0px);
  }
}
.mapWrapper{
  position:relative;
  width: 100%;
  display: inline-block;
  @media (--media-min-medium) {
    width: 50%;
  }
}
.mapWrapper img{
  width: 100%;
  mix-blend-mode: multiply;
  opacity: 0.6;
}
.active{
  fill: var(--color-red);
}
.labels{
  font-size: var(--font-small-size);
}
.nodes ellipse{
  cursor: pointer;
}
.nodes ellipse:hover{
  fill: var(--color-dark-blue);
}
.nodes svg{
  position: absolute;
}
.nodes svg:nth-child(1){
  pointer-events: none;
}
.nodes svg:nth-child(1) path{
  stroke-dasharray: 3;
  animation: dash 5s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  100%{
    stroke-dashoffset: 30;
  }
 
}
.projectInner img{
  width: 100%;
}
.projectInner a{
  position: absolute;
  z-index: 1;
  right:0;
  top:0;
}
.projectInner h4{
  text-transform: none;
  margin: 0;
  padding:0 15px;
}
.projectInner .imgWrapper img{
  position: absolute;
  z-index: 0;
  bottom:0;
}
.projectInner .imgWrapper{
  height: calc(50vw - 1em);
  width: 100%;
  margin-bottom:10px;
  position: relative;
  overflow: hidden;
  @media (--media-min-medium) {
    height: calc(21vw - 1em);
  }
}
.projectInner{
  width: 100%;
}
.projectsInner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.labels a{
  display: none;
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--color-light-blue);
  position: absolute;
  bottom:0;
  left:0;
  padding:5px;
}
.labels .active{
  display: inline-block;
}

.partners {
    margin:0;
    position:absolute;
    right:25px;
    top:15px;
    padding:10px;
    background:var(--color-light-blue);
    max-width: calc(100% - 70px);
  @media (--media-min-small) {
    margin:0;
    max-width: 60%;
  }
}
.partners ul{
    padding:0;
    list-style: none;
    margin-top:0;
    margin-bottom:0;
}
.partners h4{
  margin-bottom:0;
  margin-top:0;
}
.partners li a{
    font-size: var(--font-small-size);
    color: var(--color-black);
    text-decoration: none;
    position:relative;
}
.partners li a:hover{
  color:var(--color-red)
}


.arrowButtonLeft, .arrowButtonRight{
  position: absolute;
  top: 30%;
  padding:5px;
  padding-top:12px;
  cursor: pointer;
  left:0;
  background-color: var(--color-light-blue);
  @media (--media-min-medium) {
    top: 50%;
  }
}
.arrowButtonRight{
  left:auto;
  right:0;
}