@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';


.wrapper{
    display: flex;
    flex-direction: column-reverse;
    @media (--media-min-medium) {
        flex-direction: row;
    }
}
.filterWrapper{
    background-color: var(--color-light-blue);
    font-size:var(--font-small-size);
    top: var(--space);
    right:var(--space);
    max-width: 100%;
    max-height: 60vh;
    overflow: scroll;
    padding-bottom: var(--small-space);
    @media (--media-min-medium) {
        flex-basis: 17%;
        max-width: 17%;
        position: fixed;
    }
}
.filterWrapper h4{
    font-size: var(--font-small-size);
    margin:0;
    padding:var(--small-space);
}
.filterWrapper h1 svg{
    float:right;
    position:relative;
    top: calc(var(--small-space) * 2);
    @media (--media-min-medium) {
        display: none;
    }
}
.filterWrapper .accordion h4{
    padding:var(--small-space) calc(var(--small-space)*2);
}
.filterWrapper select{
    margin:var(--small-space);
    margin-top:0;
}
.filterWrapper .accordion h4 svg{
    width: var(--space);
    float: right;
    top: calc(var(--small-space) * 2);
    position:relative;
    margin-left: var(--small-space);
}
.filterWrapper > *{
    padding: 0 var(--small-space);
}
.filterWrapper h1{
    font-size: var(--font-small-size);
    text-transform: uppercase;
    margin:var(--small-space);
    font-family: var(--font-family-bold);
}
.accordion{
    border-top: 1px solid var(--color-dark-blue);
    cursor: pointer;
    padding:0;
}
.accordion:nth-child(5){
    border-bottom: 1px solid var(--color-dark-blue);
}
.accordion:nth-child(3){
    margin-top: var(--small-space);
}

.accordion > div{
    padding: var(--small-space);
    display: none;
}
.accordion input[type=checkbox]{
    display: none;
}
.accordion input[type=checkbox]:checked + label{
    font-family: var(--font-family-bold);
}
.accordion div div{
    display: inline-block;
    padding:0 calc(var(--small-space)/2);
}
.accordion label::after{
    content:","
}
.accordion div div:last-child label::after{
    content:""
}
.resultsWrapper{
    display: flex;
    max-height: 60vh;
    overflow: scroll;
    margin-top: var(--space);
    flex-wrap: wrap;
    @media (--media-min-medium) {
        flex-basis: 80%;
        max-height: none;
        margin-top:0;
    }
}
.root a:hover{
    position: relative;
    top:1px;
    left:1px;
}
.root span{
    padding: var(--small-space);
    font-size: var(--font-small-size);
    font-family: var(--font-family-bold);
}
.root figure{
    min-width: 100%;
    width: auto;
    height: 20vh;
    overflow:hidden;
    margin:0;
}
.root figure div{
    height: 20vh;
    min-width: 100%;
}
.root{
    background-color: var(--color-light-blue);
    margin: calc(var(--small-space)) 0;
    padding: var(--small-space);
    flex-basis: calc(50% - (var(--small-space) * 3));
    @media (--media-min-medium) {
        flex-basis: calc(33% - (var(--small-space) * 8));
        margin-left:0;
        margin-right: calc(var(--small-space) * 4);
    }
}
.root:nth-child(even){
    margin-left: calc(var(--small-space)*2);
    @media (--media-min-medium) {
        margin-left:0;
    }
}
.root a{
    text-decoration: none;
    color:var(--color-black);
    display: flex;
    flex-direction: column;
}

.searchWrapper{
    position:relative;
    width:100%;
    margin:var(--small-space) 0;
    @media (--media-min-medium) {
        width:70%;
        margin:var(--space) 0;
    }
}
.searchWrapper input{
    width:calc(100% - (var(--small-space)*4));
    @media (--media-min-medium) {
        width:90%;
    }
}
.searchWrapper button{
    outline:none;
    border:none;
    cursor: pointer;
    padding:0;
    right:10px;
    background-color: transparent;
    top:12px;
    position:absolute;
    vertical-align: top;
    @media (--media-min-medium) {
        right:65px;
    }
}
.searchWrapper button:hover svg{
    top:-4px;
    left:1px;
}
.searchWrapper svg{
    width:20px;
    height:20px;
    vertical-align: top;
    position:relative;
    top:-5px;
}

.filterWrapper > div{
    display: none;
    @media (--media-min-medium) {
        display: block;
    }
}