@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.searchWrapper{
    position:relative;
    width:70%;
}
.searchWrapper input{
    width:90%;
}
.searchWrapper button{
    outline:none;
    border:none;
    cursor: pointer;
    padding:0;
    right:50px;
    background-color: transparent;
    top:12px;
    position:absolute;
    vertical-align: top;
}
.searchWrapper button:hover svg{
    top:-4px;
    left:1px;
}
.searchWrapper svg{
    width:20px;
    height:20px;
    vertical-align: top;
    position:relative;
    top:-5px;
}