@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';


.timeWrapper{
  display:flex;
  justify-content: space-between;
  margin-bottom:2em;
}
.timeWrapper p{
    font-weight: bold;
    margin:0;
}
.timeWrapper > div{
    display: flex;
}
.timeWrapper label{
    white-space: nowrap;
}
.timeWrapper select{
    max-width: 200px;
    margin:0;
    top:-2px;
    position:relative;
    margin-left:10px;
    vertical-align: top;
}