@import '../../styles/custom-media.css';

.root{
    /* max-height:200px;
    overflow: scroll; */
}
.root a h4{
    margin:0;
}
.root a{
    position: relative;
    display: block;
    vertical-align: top;
    padding: 5px 10px;
    z-index: 0;
    padding-right: 10px;
    padding-left: 5px;
    margin-top: 8px;
    margin-right: 12px;
    color: var(--color-black);
    background: var(--color-light-blue);
    border-radius: 0px;
    text-decoration: none;
}


.root a:hover{
    color:var(--color-red)
}