@import '../../styles/custom-media.css';
@import '../../styles/custom-properties.css';

.root{
    margin-top:calc(var(--space) * 3);
}
.inner{
    display:block;
    column-gap:25px;
    position: relative;
}
.one{
    column-count: 1;
}
.three{
    @media (--media-min-medium) {
        column-count: 3;
    }
}
.two{
    @media (--media-min-medium) {
        column-count: 2;
    }
}
.two > div, .three > div{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.inner figure {
   width: 100%;
   margin:0;
}

.inner img{
    object-fit: contain !important;
    max-width: 100%;
    min-width:100%;
    height:auto;
}
.inner > div{
    margin-bottom:var(--space);
}
.two iframe{
    height: 275px;
}
.three iframe{
    height: 200px;
}
.inner iframe{
    pointer-events:none;
    width: 100%;
}
.wrapper{
    display: block;
}
.inner figcaption{
    position: relative;
}